a,body,div,html,img,table,tbody,td,th,thead,tr{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    color:#fff;
}

header,section {
    padding: 0 10px 0 32px;
    padding-bottom: 20px;
    display: block
}

.header {
    padding: 0 10px 20px 32px;
    color:#fff;
}
.header a{
    color:#00f;
}
body{
    /* background:#666; */
    background: #000;
    background-image: url(../images/bg.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    -webkit-text-size-adjust:none
    font-family:"Source Sans Pro",Helvetica,sans-serif;
    font-size:16pt;
    font-weight:300;
    line-height:1.15em;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
html{
    box-sizing:border-box;
}
body.is-preload *,body.is-preload :after,body.is-preload :before{
    -moz-animation:none!important;
    -webkit-animation:none!important;
    -ms-animation:none!important;
    animation:none!important;
    -moz-transition:none!important;
    -webkit-transition:none!important;
    -ms-transition:none!important;
    transition:none!important;
}
a{
    -moz-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    transition:color .2s ease-in-out,border-color .2s ease-in-out;
    text-decoration:none;
}
a:hover{
    border-bottom-color:transparent!important;
    color:#eee;
}
.align-right{
    text-align:right;
}

.crumbs{
    display:inline-block;
    width:100%;
}
.crumbs a{
    text-decoration:none;
    outline:0;
    float:left;
    font-size:12px;
    font-weight:250;
    line-height:36px;
    padding:0 10px 0 32px;
    background:linear-gradient(#666,#333);
    position:relative;
    opacity: 0.5;
}
.crumbs a:first-child{
    padding-left:16px;
}
.crumbs a:first-child:before{
    left:14px;
}
.crumbs a:last-child{
    padding-right:20px;
}
.crumbs a:hover{
    background:#333;
    background:linear-gradient(#333,#000);
}
.crumbs a:hover:after{
    background:#333;
    background:linear-gradient(135deg,#333,#000);
}
.crumbs a:after{
    content:'';
    position:absolute;
    top:0;
    right:-18px;
    width:36px;
    height:36px;
    transform:scale(.707) rotate(45deg);
    z-index:1;
    background:linear-gradient(135deg,#666,#333);
    box-shadow:2px -2px 0 2px #666,3px -3px 0 3px #666;
    border-radius:0 5px 0 50px;
}
.nostyle{
    display: none;
}
::-webkit-input-placeholder{
    color:#999!important;
    opacity:1;
}
:-moz-placeholder{
    color:#999!important;
    opacity:1;
}
::-moz-placeholder{
    color:#999!important;
    opacity:1;
}
:-ms-input-placeholder{
    color:#999!important;
    opacity:1;
}
.table-wrapper{
    -webkit-overflow-scrolling:touch;
    overflow-x:auto;
}
table{
    margin:0 0 2em 0;
    width:100%;
}
table tbody tr{
    border-left:0;
    border-right:0;
    background-color:#777;
    opacity: 0.7;
}
table tbody tr:nth-child(2n+1){
    background-color:#999;
    opacity: 0.7;
}
table td{
    padding:.75em .75em;
}
table th{
    font-size:.9em;
    font-weight:400;
    padding:0 .75em .75em .75em;
    text-align:left;
}
table thead{
    border-bottom:solid 1px rgba(144,144,144,.5);
}
@media screen and (max-width:1680px){
    body{
        font-size:14pt;
    }
}
@media screen and (max-width:1140px){
    body{
        font-size:13pt;
    }
}
@media screen and (max-width:736px){
    body{
        font-size:12pt;
    }
}
@media screen and (max-width:320px){
    body,html{
        min-width:320px;
    }
}

